@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --white:#fff;
    --black:#000;
}
html{
    font-size:62.5%;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}

/* End of Common Styles */

/* Header */

.header{
    height: 100vh;
    width: 100vw;
    background-image: url(img/5.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}
.effect{
    font-size: 5rem;
    font-weight: 600;
    color: #fff;
}